<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Guy Asulin</h2>
      <h4>Guyasulin13@gmail.com</h4>
    </div>
    <img src="https://avatars1.githubusercontent.com/u/34007605?s=460&u=b99796f9d257583997f2165e294aef0d6472b5e9&v=4" alt="Profile">
  </div>

  <mat-divider> </mat-divider>

  <h2 matSubheader>Page</h2>

  <mat-list role="list">
    <mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard
    </mat-list-item>
    <mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/posts" role="listitem">Posts
    </mat-list-item>
    <mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/articles" role="listitem">Articles
    </mat-list-item>
  </mat-list>

  <mat-divider> </mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
